.row
  .col-sm-12
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Start', root_path
      %li.breadcrumb-item.active
        = @state.name
.row
  .col-sm-12
    %h3
      Wahlkreise in
      = @state.name
.row
  - @districts.each do |d|
    .col-sm-2
      = link_to district_path(d.district_identifier) do
        .district-cell
          = d.district_identifier
          .district-info
            .item
              = pluralize(d.municipalities.count, 'Gemeinde', 'Gemeinden')
            .item
              = pluralize(d.precincts.count, 'Wahlbezirk', 'Wahlbezirke')
