.row
  .col-sm-12
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Start', states_path
      %li.breadcrumb-item.active
        = link_to @district.state.name, state_path(@district.state)
      %li.breadcrumb-item
        Wahlkreis
        = @district.district_identifier
.row
  .col-sm-12
    %h3
      Gemeinden im Wahlkreis
      = @district.district_identifier
      = @district.name

.row
  .col-sm-12
    %table.table.table-hover.table-striped.tablesorter
      %thead
        %tr
          %th(data-sort="string")
            %span
            Name
          %th(data-sort="integer")
            %span
            Gemeinde-ID
      %tbody
      - @municipalities.each do |m|
        %tr(data-link="#{municipality_path(m.municipality_identifier)}")
          %td
            = link_to m.name, municipality_path(m.municipality_identifier)
          %td
            = link_to m.municipality_identifier,
              municipality_path(m.municipality_identifier)
