.row
  .col-sm-12
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Start', root_path
      %li.breadcrumb-item.active
        = link_to @district.state.name, state_path(@district.state)
      %li.breadcrumb-item
        Wahlkreis
        = @district.district_identifier
.row
  .col-sm-12
    .heading
      %a.switcher.activeSwitcher(href='#')
        Wahlbezirke
      %a.switcher(href='#')
        Gemeinden
      im Wahlkreis
      = @district.district_identifier
      = @district.name
    %h3
      - if @check
        = @check

.row
  .col-sm-12
    %table.table.table-hover.table-striped.tablesorter
      %thead
        %tr
          %th(data-sort="string")
            %span
            Gemeinde
          %th(data-sort="string")
            %span
            Wahlbezirk
          %th(data-sort="float")
            %span
            Targeting-Score (WK)
          %th(data-sort="int")
            %span
            Targeting-Rang (WK)
          %th(data-sort="int")
            %span
            Targeting-Rang (Gemeinde)
      %tbody
      - @precincts.each do |p|
        %tr
          %td
            = p.municipality.name
          %td
            = p.precinct_identifier
          %td
            = display_score p.district_score
          %td
            = p.district_rank
          %td
            = p.municipality_rank
