.row
  .col-sm-12
    %ol.breadcrumb
      - if @current_election.state == 'all'
        %li.breadcrumb-item
          = link_to 'Start', states_path
        %li.breadcrumb-item.active
          = link_to @district.state.name, state_path(@district.state)
      - else
        %li.breadcrumb-item
          = link_to 'Start', districts_path
      %li.breadcrumb-item
        Wahlkreis
        = @district.district_identifier
.row
  .col-sm-12
    .heading
      = link_to 'Wahlbezirke', district_path(@district.district_identifier), class: 'switcher activeSwitcher'
      = link_to 'Gemeinden', district_path(@district.district_identifier, gemeinde: '1'), class: 'switcher passiveSwitcher'
      im Wahlkreis
      = @district.district_identifier
      = @district.name

.row
  .col-sm-12
    %table.table.table-hover.table-striped.tablesorter
      %thead
        %tr
          %th.titleLtwh(data-sort="string")
            %span
            Gemeinde
          %th.dataMini.number(data-sort="string")
            %span
            Wahlbezirk
          %th.data.number(data-sort="string")
            %span
            Bezeichnung
          %th.dataMini.number(data-sort="string")
            %span
            BTW-WK
          %th.dataMini.number(data-sort="float")
            %span
            Score (WK)
          %th.filler
      %tbody
      - @precincts.each do |p|
        %tr
          %td.ltwh
            = link_to p.municipality.name, municipality_path(p.municipality.municipality_identifier)
          %td.dataMini.number
            = p.precinct_identifier
          %td.data.number
            = display_score p.name
          %td.dataMini.number
            = p.btw_district.to_s
          %td.dataMini.number
            = display_score p.district_score
          %td.filler
