<nav class='navbar navbar-toggleable-md navbar-inverse bg-inverse' id= 'headerNavbar'>
  <div class='container'>
    <% if user_signed_in? %>
      <% if @current_election.state == 'all' %>
        <a class="navbar-brand" href="/states">
      <% else %>
        <a class="navbar-brand" href="/districts">
      <% end %>
    <% else %>
      <a class="navbar-brand" href="/">
    <% end %>
      <%= image_tag 'logo-gruen.jpg', width: 30, height: 30, class: 'd-inline-block align-top' %>
      <span class='logo-text'>PotentialGrün</span>
    </a>
    <div class='election-indicator'>Aktive Wahl: hallo</div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <% if user_signed_in? %>
        <%= form_tag('/search', local: true, method: :get, class: 'form-inline searchModule' ) do %>
          <%= text_field_tag(:q, nil, data: { behavior: 'autocomplete' },
                             placeholder: 'WK, Gemeinde, ...', id: 'searchField',
                            class: 'form-control mr-sm-2') %>
                          <%= button_tag('Suchen', class: 'btn btn-outline-success my-2 my-sm-0',
                                         id: 'searchSubmit', type: 'submit') %>
        <% end %>
      <% end %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ / Anleitung</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<% if user_signed_in? %>
  <div class='container indicatorRow'>
    <div class='row'>
      <div class='col-sm-12'>
        <%= render 'layouts/indicator' %>
      </div>
    </div>
  </div>
<% end %>

<% flash.each do |key, value| %>
  <div class='container <%= "fb-#{key}" %>' id="flashBox">
    <div class="row">
      <div class="col-sm-12">
        <div class='message'>
          <%= value %>
          <span class='pointer'><%= fa_icon 'times-circle' %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
